CozyComfortClient/Connected Services/DistributorServiceReference/DistributorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDistributorIdByAppUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributorIdByAppUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDistributorIdByAppUserIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributorDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="distributorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributorDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistributorDetailsResult" type="tns:DistributorDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DistributorDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DistributorId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarehouseLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllDistributors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDistributorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDistributorsResult" type="tns:ArrayOfDistributorDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDistributorDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DistributorDetails" nillable="true" type="tns:DistributorDetails" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDistributorCompanyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="distributorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributorCompanyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistributorCompanyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDistributorProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="distributorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouseLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDistributorProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDistributorProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDistributorIdByAppUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistributorIdByAppUserId" />
  </wsdl:message>
  <wsdl:message name="GetDistributorIdByAppUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistributorIdByAppUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistributorDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistributorDetails" />
  </wsdl:message>
  <wsdl:message name="GetDistributorDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistributorDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDistributorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDistributors" />
  </wsdl:message>
  <wsdl:message name="GetAllDistributorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDistributorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistributorCompanyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistributorCompanyName" />
  </wsdl:message>
  <wsdl:message name="GetDistributorCompanyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistributorCompanyNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDistributorProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDistributorProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateDistributorProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDistributorProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="DistributorServiceSoap">
    <wsdl:operation name="GetDistributorIdByAppUserId">
      <wsdl:input message="tns:GetDistributorIdByAppUserIdSoapIn" />
      <wsdl:output message="tns:GetDistributorIdByAppUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistributorDetails">
      <wsdl:input message="tns:GetDistributorDetailsSoapIn" />
      <wsdl:output message="tns:GetDistributorDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDistributors">
      <wsdl:input message="tns:GetAllDistributorsSoapIn" />
      <wsdl:output message="tns:GetAllDistributorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistributorCompanyName">
      <wsdl:input message="tns:GetDistributorCompanyNameSoapIn" />
      <wsdl:output message="tns:GetDistributorCompanyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDistributorProfile">
      <wsdl:input message="tns:UpdateDistributorProfileSoapIn" />
      <wsdl:output message="tns:UpdateDistributorProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistributorServiceSoap" type="tns:DistributorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistributorIdByAppUserId">
      <soap:operation soapAction="http://tempuri.org/GetDistributorIdByAppUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributorDetails">
      <soap:operation soapAction="http://tempuri.org/GetDistributorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDistributors">
      <soap:operation soapAction="http://tempuri.org/GetAllDistributors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributorCompanyName">
      <soap:operation soapAction="http://tempuri.org/GetDistributorCompanyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDistributorProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateDistributorProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DistributorServiceSoap12" type="tns:DistributorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistributorIdByAppUserId">
      <soap12:operation soapAction="http://tempuri.org/GetDistributorIdByAppUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributorDetails">
      <soap12:operation soapAction="http://tempuri.org/GetDistributorDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDistributors">
      <soap12:operation soapAction="http://tempuri.org/GetAllDistributors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributorCompanyName">
      <soap12:operation soapAction="http://tempuri.org/GetDistributorCompanyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDistributorProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateDistributorProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistributorService">
    <wsdl:port name="DistributorServiceSoap" binding="tns:DistributorServiceSoap">
      <soap:address location="https://localhost:44308/Services/DistributorService.asmx" />
    </wsdl:port>
    <wsdl:port name="DistributorServiceSoap12" binding="tns:DistributorServiceSoap12">
      <soap12:address location="https://localhost:44308/Services/DistributorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>