CozyComfortClient/Connected Services/ManufacturerServiceReference/ManufacturerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetManufacturerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manufacturerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManufacturerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManufacturerDetailsResult" type="tns:ManufacturerDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ManufacturerDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ManufacturerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllManufacturers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllManufacturersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllManufacturersResult" type="tns:ArrayOfManufacturerDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManufacturerDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManufacturerDTO" nillable="true" type="tns:ManufacturerDTO" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetManufacturerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetManufacturerDetails" />
  </wsdl:message>
  <wsdl:message name="GetManufacturerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetManufacturerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllManufacturersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllManufacturers" />
  </wsdl:message>
  <wsdl:message name="GetAllManufacturersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllManufacturersResponse" />
  </wsdl:message>
  <wsdl:portType name="ManufacturerServiceSoap">
    <wsdl:operation name="GetManufacturerDetails">
      <wsdl:input message="tns:GetManufacturerDetailsSoapIn" />
      <wsdl:output message="tns:GetManufacturerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturers">
      <wsdl:input message="tns:GetAllManufacturersSoapIn" />
      <wsdl:output message="tns:GetAllManufacturersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManufacturerServiceSoap" type="tns:ManufacturerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManufacturerDetails">
      <soap:operation soapAction="http://tempuri.org/GetManufacturerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturers">
      <soap:operation soapAction="http://tempuri.org/GetAllManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManufacturerServiceSoap12" type="tns:ManufacturerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManufacturerDetails">
      <soap12:operation soapAction="http://tempuri.org/GetManufacturerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturers">
      <soap12:operation soapAction="http://tempuri.org/GetAllManufacturers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManufacturerService">
    <wsdl:port name="ManufacturerServiceSoap" binding="tns:ManufacturerServiceSoap">
      <soap:address location="https://localhost:44308/Services/ManufacturerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManufacturerServiceSoap12" binding="tns:ManufacturerServiceSoap12">
      <soap12:address location="https://localhost:44308/Services/ManufacturerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>