CozyComfortClient/Connected Services/MInventoryServiceReference/MInventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddMInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inv" type="tns:MInventory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MInventory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MInventoryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ManufacturerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MBlanketID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MLastUpdated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inv" type="tns:MInventory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mInventoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteMInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMInventoriesByManufacturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manufacturerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMInventoriesByManufacturerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMInventoriesByManufacturerResult" type="tns:ArrayOfMInventory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMInventory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MInventory" nillable="true" type="tns:MInventory" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMInventorySoapIn">
    <wsdl:part name="parameters" element="tns:AddMInventory" />
  </wsdl:message>
  <wsdl:message name="AddMInventorySoapOut">
    <wsdl:part name="parameters" element="tns:AddMInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMInventorySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMInventory" />
  </wsdl:message>
  <wsdl:message name="UpdateMInventorySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMInventorySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMInventory" />
  </wsdl:message>
  <wsdl:message name="DeleteMInventorySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetMInventoriesByManufacturerSoapIn">
    <wsdl:part name="parameters" element="tns:GetMInventoriesByManufacturer" />
  </wsdl:message>
  <wsdl:message name="GetMInventoriesByManufacturerSoapOut">
    <wsdl:part name="parameters" element="tns:GetMInventoriesByManufacturerResponse" />
  </wsdl:message>
  <wsdl:portType name="MInventoryServiceSoap">
    <wsdl:operation name="AddMInventory">
      <wsdl:input message="tns:AddMInventorySoapIn" />
      <wsdl:output message="tns:AddMInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMInventory">
      <wsdl:input message="tns:UpdateMInventorySoapIn" />
      <wsdl:output message="tns:UpdateMInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMInventory">
      <wsdl:input message="tns:DeleteMInventorySoapIn" />
      <wsdl:output message="tns:DeleteMInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMInventoriesByManufacturer">
      <wsdl:input message="tns:GetMInventoriesByManufacturerSoapIn" />
      <wsdl:output message="tns:GetMInventoriesByManufacturerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MInventoryServiceSoap" type="tns:MInventoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMInventory">
      <soap:operation soapAction="http://tempuri.org/AddMInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMInventory">
      <soap:operation soapAction="http://tempuri.org/UpdateMInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMInventory">
      <soap:operation soapAction="http://tempuri.org/DeleteMInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMInventoriesByManufacturer">
      <soap:operation soapAction="http://tempuri.org/GetMInventoriesByManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MInventoryServiceSoap12" type="tns:MInventoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMInventory">
      <soap12:operation soapAction="http://tempuri.org/AddMInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMInventory">
      <soap12:operation soapAction="http://tempuri.org/UpdateMInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMInventory">
      <soap12:operation soapAction="http://tempuri.org/DeleteMInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMInventoriesByManufacturer">
      <soap12:operation soapAction="http://tempuri.org/GetMInventoriesByManufacturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MInventoryService">
    <wsdl:port name="MInventoryServiceSoap" binding="tns:MInventoryServiceSoap">
      <soap:address location="https://localhost:44308/Services/MInventoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="MInventoryServiceSoap12" binding="tns:MInventoryServiceSoap12">
      <soap12:address location="https://localhost:44308/Services/MInventoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>