CozyComfortClient/Connected Services/UOrderServiceReference/UOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PlaceUOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sellerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userContact" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="blanketId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expectedDeliveryDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceUOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceUOrderResult" type="tns:OrderOperationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderOperationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelUOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelUOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelUOrderResult" type="tns:OrderOperationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUOrderStatusResult" type="tns:OrderOperationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUOrdersBySeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sellerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="statusFilter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUOrdersBySellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUOrdersBySellerResult" type="tns:ArrayOfUOrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUOrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UOrderDetails" nillable="true" type="tns:UOrderDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UOrderDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SellerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserContact" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BlanketId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BlanketModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpectedDeliveryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PlaceUOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceUOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceUOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceUOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CancelUOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelUOrder" />
  </wsdl:message>
  <wsdl:message name="CancelUOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelUOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateUOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUOrdersBySellerSoapIn">
    <wsdl:part name="parameters" element="tns:GetUOrdersBySeller" />
  </wsdl:message>
  <wsdl:message name="GetUOrdersBySellerSoapOut">
    <wsdl:part name="parameters" element="tns:GetUOrdersBySellerResponse" />
  </wsdl:message>
  <wsdl:portType name="UOrderServiceSoap">
    <wsdl:operation name="PlaceUOrder">
      <wsdl:input message="tns:PlaceUOrderSoapIn" />
      <wsdl:output message="tns:PlaceUOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelUOrder">
      <wsdl:input message="tns:CancelUOrderSoapIn" />
      <wsdl:output message="tns:CancelUOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUOrderStatus">
      <wsdl:input message="tns:UpdateUOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateUOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUOrdersBySeller">
      <wsdl:input message="tns:GetUOrdersBySellerSoapIn" />
      <wsdl:output message="tns:GetUOrdersBySellerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UOrderServiceSoap" type="tns:UOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceUOrder">
      <soap:operation soapAction="http://tempuri.org/PlaceUOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUOrder">
      <soap:operation soapAction="http://tempuri.org/CancelUOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateUOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUOrdersBySeller">
      <soap:operation soapAction="http://tempuri.org/GetUOrdersBySeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UOrderServiceSoap12" type="tns:UOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceUOrder">
      <soap12:operation soapAction="http://tempuri.org/PlaceUOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUOrder">
      <soap12:operation soapAction="http://tempuri.org/CancelUOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateUOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUOrdersBySeller">
      <soap12:operation soapAction="http://tempuri.org/GetUOrdersBySeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UOrderService">
    <wsdl:port name="UOrderServiceSoap" binding="tns:UOrderServiceSoap">
      <soap:address location="https://localhost:44308/Services/UOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="UOrderServiceSoap12" binding="tns:UOrderServiceSoap12">
      <soap12:address location="https://localhost:44308/Services/UOrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>